#content {
  margin-top: 80px;
  margin-bottom: 80px;
}

#search-bar {
  margin-top: 40px;
}

#title, footer {
  text-align: center;
}

#title {
  color: #40e0d0;
}

#search-bar, #search-bar input {
  text-align: center;
}

#random-article {
  text-align: center;
  margin-top: 20px;
}

#result {
  margin-left: 150px;
  margin-right:150px;
}

#result div div {
  background: #40e0d0;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 40px;
  color: black;
}

#result div a:hover {
  text-decoration: none;
}

#result div div:hover {
  border: 5px solid black;
}
